<!DOCTYPE html>
<html>
  <head>
    <title>Popular Quotes</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
		<link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
		<link rel='stylesheet' type='text/css' href='css/app.css'>
		<script src="https://code.jquery.com/jquery-3.5.0.slim.js" integrity="sha256-sCexhaKpAfuqulKjtSY7V9H7QT0TCN90H+Y5NlmqOUE=" crossorigin="anonymous"></script>
  </head>
  <body>